.tool-settings {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  color: #ffffff;
  background: $gray;

  ul {
    display: flex;
    justify-self: flex-start;
    font-size: 12px;

    li {
      @extend %center-content;
      min-width: 30px;
      height: 30px;
      margin: 0 5px;
    }
  }

  .text-input { display: flex; }

  .brush-settings {
    .radius {
      display: flex;
      
      .brush-img {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ffffff;
      }
    }
  }
}