.tool-menu {
  padding: 2px;
  box-sizing: border-box;
  color: #fff;
  background: $gray;

  .menu {
    .tool {
      @extend %icon;
      &:hover { border: 1px solid lightgrey; }
    }
  
    .color {
      @extend %center-content;
      width: 30px;
      height: 30px;
      padding: 2px 0;

      .one, .two {
        position: absolute;
        width: 20px;
        height: 20px;
        padding: 2px;
        box-sizing: border-box;
        border: 1px solid #fff;
        background: black;
      }
      .one { transform: translate(-5px, -5px); }
      .two { transform: translate(5px, 5px); }
    }
  }
}