.tool-settings {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  box-sizing: border-box;
  border-bottom: 2px solid $darkgray;
  background: $gray;
  color: #fff;

  ul {
    display: flex;
    font-size: 12px;
    background: $gray;

    li {
      @extend %center-content;
      margin: 0 5px;
    }
  }

  .tool { 
    @extend %icon;
    i { margin: 0 4px; }
    .angle-down { font-size: 12px; }
  }

  .text-input { display: flex; }

  
  .paint-brush-settings {
    .radius {
      display: flex;
    }
    .brush {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
    }
  }

  // .eraser-settings {
    
  // }

  .pen-settings {
    > li {
      > .color {
        width: 30px;
        height:20px;
        border: 1px solid $lightgray;
        background: black;
      }
    }
  }

  .magnify-settings {
    .plus, .minus {
      @extend %icon;
      &:hover { border: 1px solid lightgrey; }
    }
  }
}