// Tools

.icon-move {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-arrows-alt); }
}
.icon-eyedropper {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-eye-dropper); }
}
.icon-paint-brush {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-paint-brush); }
}
.icon-eraser {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-eraser); }
}
.icon-paint-bucket {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-fill-drip); }
}
.icon-pen {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-pen-nib); }
}
.icon-shape-circle {
  @extend %far;
  &:before { 
    content: fa-content($fa-var-circle); }
}
.icon-magnify {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-search); } 
}
.icon-magnify-minus {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-search-minus); } 
}
.icon-magnify-plus {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-search-plus); } 
}

//

.icon-angle-down {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-angle-down); }
  font-size: 12px;
}

.icon-bars {
  @extend %fas;
  &:before { 
    content: fa-content($fa-var-bars); }
}