#app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .workspace {
    display: flex;
    justify-content: space-between;
    background: #ebebeb;
    height: 100%;
  }

  .canvas-space {
    width: 100%;
    background: #dfffdf;
  }

  .panels {
    display: flex;
    background: lightblue;

    > div {  // panel group
      display: flex;
      flex-direction: column;
      min-width: 200px;

      > .container { 
        height: 100%;
        padding: 2px;
        box-sizing: border-box;
      }
    }

    > .one > .container {
      background: pink; 
    }
    
    > .two > .container { 
      background: #ffe3af; 
    }
  }
}