.tool-menu {
  // border: 1px solid $darkgray;
  border-left: 1px solid $darkgray;
  border-right: 1px solid $darkgray;
  color: #fff;
  background: $darkgray;

  .menu {
    padding: 4px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: hidden;
    background: $gray;

    .tool {
      @extend %tool-menu-icon;
      &:hover { border: 1px solid lightgrey; }
    }
  
    .color {
      width: 30px;
      // height: 30px;
      padding: 4px 0;

      .one, .two {
        // position: absolute;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        padding: 2px;
        box-sizing: border-box;
        border: 1px solid #fff;
        background: black;
      }
      .one { transform: translate(-5px, -15px); }
      .two { transform: translate(5px, 15px); }
    }
  }
}