.tool-settings {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  box-sizing: border-box;
  // border-bottom: 2px solid $darkgray;
  background: $gray;
  color: #fff;

  ul {
    display: flex;
    font-size: 12px;
    background: $gray;

    > li {
      @extend %center-content;
      padding: 0 5px;
      box-sizing: border-box;
    }
  }

  .tool > div { 
    @extend %icon;
    width: auto;
    .icon-angle-down { font-size: 12px; }
  }

  .text-input { 
    display: flex;
    align-items: center;
  }

  
  .paint-brush-settings, .eraser-settings {
    .brush {
      width: 15px;
      height: 15px;
      background: rgb(150, 150, 150);
    }
  }

  .pen-settings {
    > li {
      > .color {
        width: 30px;
        height:20px;
        border: 1px solid $lightgray;
        background: black;
      }
    }
  }

  .magnify-settings {
    .plus, .minus {
      @extend %icon;
      &:hover { border: 1px solid lightgrey; }
    }
  }
}