body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
}


input {
  outline: none;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 4px 5px;
  box-sizing: border-box;
  background: transparent;
  color: #fff;
  text-shadow: 0 0 0 #fff;
  -webkit-text-fill-color: transparent;
  &:focus { border-color: $themeColor; }
}

input[type=text]::-webkit-input-placeholder {
  color: #ccc;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

input[type=range] {
  padding: 0;
  margin: 0;
}

select {
  outline: none;
  color: #fff;
  background: $darkgray;
  padding: 2px 4px;
  // text-indent: 1px;
  // text-overflow: '';
}