#app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  > section {
    background: #c0fffa;
  }

  #workspace {
    display: flex;
    justify-content: space-between;
    background: #ebebeb;
    height: 100%;

    > section {
      display: flex;
      background: lightblue;
    }

    .canvas-space {
      @extend %center-content;
      width: 100%;
      color: #fff;
      background: $darkergray;
      // background: #dfffdf;
    }
  }
}