.panel-group {  // panel group
  display: flex;
  flex-direction: column;
  color: white;

  > div:first-child {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    box-sizing: border-box;
    background: $darkgray;

    div {  // arrow icon
      @extend %center-content;
      margin: 0 2px 0 0;
      &:active { color: gray; }
    }
  }

  > .flex {
    display: flex;
    flex-direction: column;
  }

  > .container {
    height: 100%;
    // padding: 2px;
    // box-sizing: border-box;
    border-left: 2px solid $darkgray;
    background: #ffe3af;
  }
}