.panel {
  padding: 0 0 2px 0;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  // background: #ade6d3;
  background: $darkgray;

  .container {
    display: flex;
    flex-direction: column;
    min-width: 200px;

    > nav {
      display: flex;
      background: $darkgray;
      // background: #d2afff;

      .selected-tab { 
        border-left: 1px solid $darkergray;
        border-top: 1px solid $darkergray;
        border-right: 1px solid $darkergray;
        background: $gray; 
      }

      .left-tab {
        border-bottom: 1px solid $darkergray;
        border-left: 1px solid $darkergray;
        border-top: 1px solid $darkergray;
        background: $darkgray;
      }

      .right-tab {
        border-top: 1px solid $darkergray;
        border-right: 1px solid $darkergray;
        border-bottom: 1px solid $darkergray;
        background: $darkgray;
      }

      .tabs {
        display: flex;

        li {  // tab
          @include user-select(none);
          padding: 8px 10px;
          &:active { background: $themeColor; }
        }
      }

      > div {  // space for other nav content
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        border-top: 1px solid $darkergray;
        border-right: 1px solid $darkergray;
        border-bottom: 1px solid $darkergray;

        div {  // The bars icon
          @extend %center-content;
          margin: 0 4px;
          padding: 2px 4px;
          border: 1px solid $gray;
          border-radius: 2px;
          &:hover { border-color: lightgrey; }
          &:active { background: $darkgray; }
        }
      }
    }

    > .content {  // content
      flex: 1;
      overflow-y: auto;
      border-left: 1px solid $darkergray;
      border-bottom: 1px solid $darkergray;
      border-right: 1px solid $darkergray;
      // background: $gray;
      background: lightblue;
    }
  }


  > .icon-tabs
   {
    > div {
      background: $darkergray;
      height: 4px;
    }
    
    > ul > li {  // icons
      @extend %tool-menu-icon;
      margin: 4px 0;
      &:hover { border: 1px solid lightgrey; }
    }
  }
}