.panel-group {  // panel group
  display: flex;
  flex-direction: column;
  // min-width: 200px;
  color: white;

  > div:first-child {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    box-sizing: border-box;
    background: $darkgray;

    div {  // arrow icon
      @extend %center-content;
      margin: 0 2px 0 0;
      &:active { color: gray; }
    }
  }

  > .container { 
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
    // outline: 1px solid grey;
    background: #ffe3af; 
  }
}