.tool-settings {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding: 2px;
  box-sizing: border-box;
  color: #fff;
  min-height: 40px;
  border-bottom: 1px solid $darkgray;
  background: $gray;

  ul {
    display: flex;
    font-size: 12px;
    background: $gray;

    > li {
      @extend %center-content;
      padding: 0 10px;
      border-right: 1px solid $darkgray;
    }
  }

  .tool {
    display: flex;
    justify-content: space-between;
    width: 50px;

    > div { 
      flex: 1;
      &:first-child {
        flex: 2;
        font-size: 16px;
      } 
    }
  }

  .fill, .stroke {
    .color {
      width: 30px;
      height: 50%;
      border: 1px solid $lightgray;
      background: black;
    }
  }

  
  .paint-brush-settings, .eraser-settings {
    .brush {
      display: flex;
      justify-content: space-between;
      width: 40px;
      
      > div:first-child { 
        padding: 0 6px;
        box-sizing: border-box;
      }

      .img {
        width: 15px;
        height: 15px;
        background: #969696;
      }
    }
  }

  // .pen-settings {
    
  // }

  .magnify-settings {
    .plus, .minus {
      @extend %tool-menu-icon;
      &:hover { border: 1px solid lightgrey; }
    }
  }

  .workspace-presets {
    @extend %center-content;
    margin: 0 6px;
  }
}