#tool-menu {
  color: #fff;
  background: $gray;

  .tools, .tools-collapsed {
    padding: 4px;
    box-sizing: border-box;
    height: 100%;

    .tool {
      @extend %tool-menu-icon;
      &:hover { border: 1px solid lightgrey; }
    }

    > .selected {
      border: 1px solid #fff;
      background: $darkgray; 
    }
  }

  .tools {
    display: flex;
    flex-wrap: wrap;
    width: 72px;
  }

  .color, .color-collapsed {
    margin: 0 auto;
    .one, .two {
      margin: 0 auto;
      padding: 2px;
      box-sizing: border-box;
      border: 1px solid #fff;
      background: black;
    }
  }

  .color {
    width: 60px;
    .one, .two {
      width: 32px;
      height: 32px;
    }
    .one { transform: translate(-8px, -24px); }
    .two { transform: translate(8px, 24px); }
  }

  .color-collapsed {
    width: 30px;
    padding: 4px 0;
    .one, .two {
      width: 20px;
      height: 20px;
    }
    .one { transform: translate(-5px, -15px); }
    .two { transform: translate(5px, 15px); }
  }
}